PGHOST=dsa508.postgres.database.azure.com
PGPORT=5432
PGDATABASE=saas_stream
PGADMIN_USER=
PGADMIN_PASSWORD=
STREAM_RW_PASSWORD=
GRAFANA_RO_PASSWORD=
PGSSLMODE=require
RENAME_SALT=
SOURCE_CUTOFF=2026-09-04
DEMO_DATE=
DEMO_RATE=500
DEMO_SEED=1
